*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/city.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

input {
    width: 200px;
    height: 20px;
}

input:focus {
    outline: none;
}